
/* Change the default font of the page */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8d9bc8; /* Soft background color */
    color: #c2c2c2; /* Neutral text color */
}

/* Add a formatted div for better page content viewing */
header {
    background-color: rgb(3, 17, 65);
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
    max-width: 800px; /* Set a max width for the content area */
    margin: 20px auto; /* Center the content area */
    padding: 20px; /* Add padding inside the div */
}

/* centering the images */
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
    border-style: double;
    box-shadow: 10px 10px rgb(10, 6, 25);
}

/* hyperlink to assignment webpages */
.linklight {
    text-align: center;
}

.linklight a{
    color: #020113;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.linklight a:hover{
    color:rgb(238, 240, 248);
    border-bottom: 1px solid #020113;
}

/* Style for headings */
h1 {
    color: rgb(1, 0, 43); /* A nice green for the main heading */
    text-align: center; /* Center align the heading */
}

h2, footer {
    text-align: center; /* Aligning */
    border-radius: 20px;
    background-color: #010f29;
    box-shadow: 0px 10px 15px black;
    max-width: 800px;
    margin:auto;
}

h3 {
     color: #010f29;
     text-align: center;
}

img{
    height: 150;
    width: 300;
}

/* Style for the author name */
em {
    color: #052107; /* Softer color for the author name */
    font-style: italic;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

/* Style for paragraphs */
p {
    line-height: 1.6; /* Improve readability */
    color: #c2c2c2;
    text-align: center;
}

body {
    background-color: rgb(78, 78, 98);
}

