body{
  background: #fff7d2;
  font-family:"Times New Roman", Times, serif;
  margin: 40px;
}
h1{
  text-align: center;
  color: #005729;
}
h2{
  text-align: left;
  color: #00803c;
}
.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(126, 14, 201); /* choose a color */
display: block;
margin: auto;
}


