.nutrition-card {
  background: #050b4f;
  color: white;
  padding: 20px;
  border-radius: 20px;
}

.nutrition-card img {
  width: 100%;
  max-width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  display: block;
  margin-bottom: 12px;
}

.nutrition-text h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
  color: white;
}

.nutrition-text p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: white;
}