h1{color: #100433;
    font-size: xx-large;
    font-style: Verdana;
}
h2{color:#3d2875;
    font-size: larger;
    font-style: Times;
}
h3{color: #030240;
    font-size: large;
    font-style: Verdana;

}
.top-border {
    width: 100%;
    height: 10px; 
    background-color: rgb(0, 27, 50); 
}