
body{
    background-color: rgb(44, 40, 73);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1{
    color:rgb(161, 174, 239);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h2{
    color:rgb(15, 12, 60);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    color:rgb(15, 12, 60);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.link {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p{
    color: rgb(2, 8, 60);
}
p a {
    color: rgb(2, 8, 60);
    text-decoration: none;
    border-bottom: 1px solid black;
    text-align: center;
}
p a:hover{
    color:rgb(37, 44, 105);
    text-decoration: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: center;
}
#main {
    background-color: aliceblue;
    width: 50%;
    margin:auto;
    padding:5px;
    border: 5px solid rgb(66, 79, 130);
    border-radius: 5px;
    box-shadow: 10px 10px rgb(24, 20, 55);
}
#border {
    background-color: rgb(24, 20, 55);
    width: 50%;
    margin: auto;
    padding: 5px;
    border: 5px solid rgb(66, 79, 130) ;
    border-radius: 3px;
    box-shadow: 10px 10px rgb(24, 20, 55);
}

header, footer {
    background-color: rgb(135, 137, 250);
    padding: 5px;
    color:black;
}

#nav-nav ul{
    padding-left: 0;
    
}
#nav-nav li {
    list-style-type: none;
    display: inline-block;
}

#nav-nav a { 
    color:rgb(1, 7, 70);
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

#nav-nav a:hover{
    color:rgb(230, 229, 255);
    border-bottom: 1px solid rgb(9, 1, 34);
}
header h1 {
    text-align: center;
}
footer p {
    text-align:center;
}
ul{
    text-align: center;
}
ol{
    color: rgb(11, 4, 34);
}
#styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgb(116, 171, 219);
}