header {
  background: #092236;
  padding: 18px 30px;
}

.header-container {
  width: min(90%, 1200px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 55px;
  height: 55px;
  object-fit: contain;
  border-radius: 15px;
}

.logo h1 {
  color: white;
  margin: 0;
  font-size: 1.8rem;
}