/*Main structure */
body{
    background-color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#main-content{
    
    width: 80%;
    margin: auto;/*centers it*/
    
}
#main-header{
    background-color: rgb(207, 170, 138);
    
}

#content h2{
    text-align: center;
}
#gallery section{
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}
#square{
    width: 100%;
    height: 100%;
    background-color: lemonchiffon;
    position: absolute;
    top: 50px;
    left: 80px;
}
#prev{
    left:5%;
}
#next{
    right:5%;
}
/* position absolute is in respect to th eupper left hand corner */
#gallery section h3{
    text-align: center;
}
#main-footer{
padding-bottom: 10px;
}
p, h1{
    text-align: center;
    padding-top: 10px;
    color: rgb(64, 37, 2);
}
.area{
    height: 400px;
    background-color: cornsilk;
    width: 49%;
    
}
/*Navigation*/
#main-nav ul{
   padding-left: 0;/*remove indentations*/
}
#main-nav li{
   list-style-type: none; /*remove bullets*/
   background-color: beige;
   padding: 5px;
   text-align: center;
   border-bottom: solid brown 2px;
   
}
#main-nav a{
    text-decoration: none; /*remove underline */
    color: rgb(64, 37, 2);
}
#main-nav a:hover{
    color: brown ;
}
/*Typography*/
/*Larger Devices*/
@media (min-width: 768px){
    #main-nav ul{
        display: flex;/*put them in columns*/
    }
    #main-nav li{
        background-color: transparent;
        flex: 1;
        
    }
    #main-nav a{
        text-decoration: none;
        
    }
    #main-nav a:hover{
        color: white;
        border-bottom: 2px solid black;
        
    }
    #content{
        justify-content: space-between;
        gap: 1em;
    }
    .columns{
        display: flex;
    }
    .one{
        flex: 1;
    }
    .two{
        flex:2;
    }
    .three{
        flex:3;
    }
    .four{
        flex:4;
    }
}
/*flex-wrap:corap*/ /*img{ max-width:100%;}